webdict/webroot/dicts1.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?>
<definitions name='DictSearch'
  targetNamespace='http://http://127.0.0.1/dicts1.wsdl'
  xmlns:tns='http://http://127.0.0.1/dicts1.wsdl'
  xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
  xmlns:xsd='http://www.w3.org/2001/XMLSchema'
  xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
  xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
  xmlns='http://schemas.xmlsoap.org/wsdl/'>

  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:DictSearch">
		<xsd:complexType name="DictInput">
        <xsd:sequence>
            <xsd:element name="dict_id" type="xsd:string"/>
            <xsd:element name="search_term" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
	
      <xsd:complexType name="DictResult">
       <xsd:all>
        <xsd:element name="meaning" type="xsd:string"/>

        <xsd:element name="imagelink" type="xsd:string"/>
        <xsd:element name="pronounciation" type="xsd:string"/>
        <xsd:element name="id" type="xsd:int"/>
        <xsd:element name="name" type="xsd:string"/>
       </xsd:all>
      </xsd:complexType>
	  
	  <xsd:complexType name="DictResult1">
       <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
       </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </types>
  
	<message name='getDictRequest'>
		<part name='symbol' type='xsd:DictInput'/>
	</message>
	
	<message name='getDictResponse'>
		<part name='Result' type='xsd:DictResult'/>
	</message>
	
	<message name='getDictResponse1'>
		<part name='Result' type='xsd:DictResult1'/>
	</message>

	<portType name='DictSearchPortType'>
	  <operation name='searchdict'>
		<input message='typens:getDictRequest'/>
		<output message='typens:getDictResponse'/>
	  </operation>
	  
	  <operation name='request'>
		<input message='typens:getDictRequest'/>
		<output message='typens:getDictResponse1'/>
	  </operation>
	</portType>

	<binding name='DictSearchBinding' type='typens:DictSearchPortType'>
	  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
	  <operation name='searchdict'>
		<soap:operation soapAction='urn:localhost-dicts#searchdict'/>
		<input>
		  <soap:body use='encoded' namespace='urn:DictSearch'
			encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
		</input>
		<output>
		  <soap:body use='encoded' namespace='urn:DictSearch'
			encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
		</output>
	  </operation>
	  
	  <operation name='request'>
		<soap:operation soapAction='urn:localhost-dicts#request'/>
		<input>
		  <soap:body use='encoded' namespace='urn:DictSearch'
			encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
		</input>
		<output>
		  <soap:body use='encoded' namespace='urn:DictSearch'
			encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
		</output>
	  </operation>
	</binding>

	<service name='DictSearchService'>
	  <port name='DictSearchPortType' binding='DictSearchBinding'>
		<soap:address location='http://127.0.0.1/dicts/'/>
	  </port>
	</service>
</definitions>